.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background: url("../../assets/board.png") no-repeat;
  height: 540px;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 8px 8px rgb(0 0 0 / 65%);
}
