.tile {
  border: 0.1px solid black;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.tile:hover {
  transition: 0.2s ease;
  opacity: 0.2;
}

.piece {
  height: 90%;
  width: 90%;
}

.rotate {
  transform: rotate(180deg);
}
